input[type=textbox] {
    width: 100px;
     height: 100px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     border: 3px solid #555;

}

table{

    border: 1px solid #555;
    background-color: black;

}
